.menu-box-tab {
  line-height: 60px;
  padding:.5rem 0rem;
  display: block;
  border-bottom: 1px solid white;
  -webkit-transition: background .2s;
  transition: background .2s;
}
  .menu-box-tab:hover {
    background: #8a8a8a;
    border-bottom: 1px solid white;
  }
  .menu-box-tab:hover .icon {
    color: #fff;
  }
  .menu-box-tab:hover .menu-box-number {
    background: #e64c65;
  }

.students {
    line-height: 60px;
    display: block;
    border-bottom: 1px solid white;
    -webkit-transition: background .2s;
    transition: background .2s;
}
.students:hover {
      background: #FF9999;
      border-bottom: 1px solid white;
}


.bottom {
  width: 15%;
  height: 3em;
  bottom: 0em;
  float: left;
  position: absolute;
  background: #B2B2B2;
}

h1 {
  margin: 0em;
  color: white;
  font-size: 1.4em;
  text-align: center;
}
