.modulemodule {
  margin-left: 10%;
  margin-right: 10%;
  width 80%;
  height: 2em;
  background-color: green;
  border-radius: 10px;

}
.students {
  margin: 10% 10%;
  width 80%;
  height: 2em;
  background-color: green;
  border-radius: 10px;
}

.bottom {
  width: 15%;
  height: 3em;
  bottom: 3em;
  position: absolute;
  background: #B2B2B2;
}
h1 {
  color: white;
  font-size: 2em;
  text-align: center;
}
